<div class="row-fluid">
	<div class="" style="width: 600px; margin: 0 auto;">
		<div class="jumbotron" style="margin-top: 40px;">
			<h2>
				Add new company
			</h2>
		</div>
		<form name="companyInfo">
			<input type="text" placeholder="Company name" class="form-control" required
						 ng-model="company.name">
			<br>
			<input type="text" placeholder="Logo image (absolute URL)" class="form-control" required
						 ng-model="company.logo">
			<br>
			<img src="{{company.logo}}" alt="Logo preview" style="width: 100%; padding: 150px; margin: -150px auto;">
		</form>
		<br>
		<br>
		<h4>
			Messages:
		</h4>
		<table>
			<tr ng-repeat="message in company.messages track by $index">
				<td style="width: 599px">
					<div class="input-group">
						<input type="text" placeholder="Sample message" class="form-control"
							 ng-model="message.body" style="min-width: 599px">
					</div>
				</td>
				<td>
					<span class="glyphicon glyphicon-minus" style="margin-top: 8px; cursor: pointer; text-align: right; color: red" ng-show="message.can_delete" ng-click="company.removeMessage($index)">
					</span>
					<span class="glyphicon glyphicon-plus" ng-click="company.addMessage(message)" style="margin-top: 8px; cursor: pointer; text-align: right;" ng-show="!message.can_delete && message.body.length > 0">
					</span>
				</td>
			</tr>
		</table>
		<br>
		<div class="btn btn-primary" ng-click="company.save()" ng-disabled="!companyInfo.$valid">
			Save
		</div>
    <span ng-show="company.saved" class="alert alert-success alert-dismissable" style="padding: 8px; margin-left: 20px;">
    	<small><i>
    		Saved! You can view the new company specific demo page here:
				<a href="{{company.url}}">
					{{company.url}}
				</a>
    	</i></small>
    </span>
	</div>
</div>