<div class="row">
	<form action="" method="post" class="form form-horizontal" role="form" style="width: 500px; margin: 0 auto; margin-top: 100px;" name="recipientInfo">
		<img src="https://www.twilio.com/packages/company/img/logos_downloadable_logobrand.png" style="width: 100%; padding-bottom: 50px;">
		<div class="form-group">
			<input type="text" ng-model="invite.firstName" class="form-control" placeholder="First name" required>
		</div>
		<div class="form-group">
			<input type="text" ng-model="invite.lastName" class="form-control" placeholder="Last name" required>
		</div>
		<div class="form-group">
			<input type="text" ng-model="invite.company" class="form-control" placeholder="Company" required>
		</div>
		<div class="form-group">
			<span class="country-code">+1<input type="text" ng-model="invite.number" class="form-control" placeholder="5555555555" required ng-bind="invite.number"></span>
		</div>
		<div class="form-group btn btn-primary" ng-click="invite.submit()" ng-disabled="!recipientInfo.$valid || invite.submitting">
			Get your invite!
		</div>
	  <span ng-show="invite.submitting">
	  	<img src="http://officesourceonline.com/images/saving.gif" style="height: 20px; margin-left: 20px;">
	  </span>
	</form>
</div>