<div class="row-fluid">
	<div role="form" style="width: 600px; margin: 0 auto;">
		<img src="{{demo.logo}}" style="width: 100%; padding: 150px; margin: -150px auto;">
		<h2 style="text-align: center" class="grey">Voice/SMS Alerts and Notifications</h2>
		<br>
	  <!-- <div class="form-group">
	    <label>Select a csv file:</label>
	    <input type="file" id="fileInput">
	  </div> -->
	  <div class="form-group">
	    <hr>
	    <form name="recipientsInfo">
		    <table style="min-width: 600px" class="table table-striped">
		    	<thead>
		    		<tr>
		    			<th class="col-md-3" style="padding: 0px; padding-left: 6px;">Name</th>
		    			<th class="col-md-3" style="padding: 0px; padding-left: 6px;">Number</th>
		    			<th class="col-md-2" style="padding: 0px; padding-left: 6px;">Type</th>
		    			<th class="col-md-3" style="padding: 0px; padding-left: 6px;">Status</th>
		    			<th class="col-md-1" style="padding: 0px; padding-left: 6px;"></th>
		    		</tr>
		    	</thead>
	    		<tbody class=".table-striped">
	    			<tr ng-repeat="person in demo.recipients track by $index">
	    				<td>
	    					<input type="text" placeholder="Name" class="form-control" required
	    								 ng-model="person.name">
	    				</td>
	    				<td>
    						<input type="text" placeholder="15555555555" class="form-control" required
    									 ng-model="person.phone_number">
	    				</td>
	    				<td style="padding-top: 14px">
	    					<select ng-options="option as option for option in ['sms', 'voice']"
	    									ng-model="person.notification_type">
							  </select>
	    				</td>
	    				<td ng-class="person.status" ng-model="person.status" style="padding-top: 14px;">
	    					<strong>
	    						{{person.status}}
	    					</strong>
	    				</td>
	    				<td style="padding-top: 14px">
	    					<span class="glyphicon glyphicon-minus" ng-click="demo.removeRecipient($index)" style="cursor: pointer; text-align: right; color: red" ng-show="person.can_delete">
	    					</span>
	    					<span class="glyphicon glyphicon-plus" ng-click="demo.addRecipient(person)"
	    								style="cursor: pointer; text-align: right" ng-show="person.name.length > 0 && person.phone_number.length > 0 && !person.can_delete">
	    					</span>
	    				</td>
	    			</tr>
	    		</tbody>
		    </table>
		    <br>
		    <span class="btn btn-danger" ng-click="demo.removeAllRecipients()">
		    	Remove all
		    </span>
		    <span class="btn btn-primary" ng-click="demo.saveRecipients()">
		    	Save
		    </span>
		    <span ng-show="demo.saving">
		    	<img src="http://officesourceonline.com/images/saving.gif" style="margin-left: 20px; height: 20px">
		    </span>
		    <span ng-show="demo.saved" class="alert alert-success" style="padding: 8px; margin-left: 20px;">
		    	<small><i>
		    		Saved!
		    	</i></small>
		    </span>
		  </form>
	  </div>
	  <hr>
	  <div class="form-group">
	  	<label>Select your message:</label> 
	  	<select ng-model="demo.message" ng-init="demo.message = demo.messages[0]"
							ng-options="option as option for option in demo.messages"
							ng-change="demo.countChar()">
		  </select>
		  <br>
		  <br>
	  	<textarea id="messageBody" ng-model="demo.message" placeholder="{{demo.message}}" class="form-control" rows="3" ng-keyup="demo.countChar()">
	  	</textarea>
	  	Character count: <span id="charNum">0</span>
	  </div>
	  <br>
	  <button type="submit" class="btn btn-primary" ng-click="demo.submit()" ng-disabled="demo.submitting">
	  	Submit
	  </button>
	  <span ng-show="demo.submitting">
	  	<img src="http://officesourceonline.com/images/saving.gif" style="height: 20px; margin-left: 20px;">
	  </span>
	  <div clas="row" style="margin: 40px;">
	  </div>
	</div>
</div>