.yellow, .queued, .calling, .sending, .ringing {
	color: yellow;
}

.green, .sent, .answered, .completed, .in-progress {
	color: #5DFC0A;
}

.red, .failed, .canceled, .no-answer {
	color: red;
}

.grey {
	color: #8a8a8a;
}

.country-code {
	color: #8a8a8a;
	display: inline;
	padding-left: 12px;
}

.country-code > input {
	display: inline;
	background: transparent;
	margin-left: -28px;
	padding-left: 34px;
}

table input.form-control {
	background: transparent;
	outline: 0 !important;
	box-shadow: none !important;
	border: none !important;

	margin-left: -13px;
}

table input.form-control:focus {
	outline: 0 !important;
	box-shadow: none !important;
	border: none !important;
}